@charset "utf-8";
/*
base
  */

  html { 
    scroll-behavior: smooth;
  } 
  
  body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
}


/* 
header
  */

.header{
  position: relative;
  z-index: 4;
  margin: 0;
  height: 60px;
  background-color: #ffffff;
}

.icon,.menu {
  padding: 0px 30px;
  list-style: none;
}

.icon{
  padding-top: 8px;
  margin: 0;
}

.icon li{
  float: left;
  padding-left: 20px;
  padding-top: 10px;
}
.icon li :hover{
  transition: .3s;
  opacity: 0.8;
}

.github{
  padding-top: 5px !important;

}

.menu{
  float: right;
  margin-left: 20px;
}

.menu li {
  float: left;
  margin-left: 20px;
  color: #333;
  opacity: .85;
}

.menu li a{
  margin-left: 20px;
  text-decoration: none;
  color: #333;
}

.menu li a:hover {
  transition: 0.3s;
  color: #5292ad;
}

.always{
  position:fixed;
  padding-right: 30px;
  height: 30px;
  width:100%;
  top:0;
  left:0;
  z-index:1;
  background:#ffffff8a;
}

.always ul{
  list-style:none;
  display: flex;
  margin:0;
  padding: 5px;
  float: right;
}

.always ul li{
  padding-left: 38px;
}

.always ul li a{
  color: #333;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s;
}

.always ul li a:hover{
  color:  #5292ad;
}


/* 
Top
 */

.top{
  height:570px;
  position: relative;
  background-color: #7dcfe4;
}

.top video{
  width: 100%;
  height: 570px;
  object-fit: cover; 
  position: absolute;
}

.top h1{
  margin: 0;
  font-size: 130px;
  text-align: center;
  opacity: 0.6;
  color: #55555c;
  padding-top: 120px;
}

.top p{
  margin: 0;
  font-size: 20px;
  text-align: center;
  opacity: 0.6;
  color: #55555c;
  padding-top: 30px;
}


/* 
About
 */

.about-top{
  position: relative;
  float:left;
  width: 40%;
  margin: 150px 0;
}

.about-r{
  float:right;
  width: 60%;
  }

.about-title{
  padding-left: 120px;
  padding-bottom: 0px;
  font-size: 50px;
  font-weight: bold;
}

.about-image{
  padding: 0 0 0 120px;
  width: 500px;
  text-decoration: none;
}

.about-intro{
  display: block;
  padding: 20px 20px;
  margin: 0;
  width: 400px;
  font-size: 15px;
  position: absolute;
  top: 79%;
  left: 110px;
  background-color:rgba(255, 255, 255, 0.656)
}

.about-story{
padding-top: 300px;
margin-bottom: -150px;
}

.about-btn{
  float: right;
  padding-right: 10vw;
}

.btn {
  padding: 20px;
  background:#5292ad;
  display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  width: 190px;
  height: 190px; 
  text-decoration: none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  transition: .3s;
  text-align: center;
  font-family: 'Kiwi Maru', serif;
}

.btn:hover {
  filter: drop-shadow(0 0 0 rgba(0,0,0,0.0));
}


/* オーバーレイ */
.overlay {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);  
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}


/* モーダルウィンドウ */
.modal {
  max-width: 1300px;
  z-index: 7;
  opacity: 0;
  width: 90%;
  height: 90%;
  padding: 15px 20px;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  transition: .3s;
  overflow-y: auto;
  overflow-y: scroll;
}

.modal.active {
  opacity: 1;
  visibility: visible;
}


.modal .close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
  transition: .3s;
}

.modal .close:hover{
  opacity: 0.6;
}

.modal-el{
  text-align: center;
  margin: 30px;
}

.modal-el h2 {
  margin-bottom: 10px;
  display:inline;
  padding: 20px;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

.modal-photo {
  text-align: center;
}

.modal-photo img{
  margin: 20px;
}

.clear_element{
	clear:both;
}


/* 
Skills
 */

.skills{
  position: relative;
  margin: 150px 40px;
  height: 552px;
}

.skills > p{
  margin-bottom: -80px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  
} 

/* 両端のライン */
.lineRight {
  display: block;
  position: absolute;
  padding: 8px 8px 8px;
  margin:0 0 0 97.5%;
  width: 28px;
  height: 560px;
  background-color: #8d8d8d;
}

.lineLeft {
  display: block;
  position: absolute;
  width: 28px;
  height: 560px;
  padding: 8px 8px 8px 8px;
  background-color: #8d8d8d;
}


.skills-item{
  display: inline-block;
  vertical-align: top;
  margin-top: 100px;
  padding: 100px 20px 100px 25px;
  text-align: center;
}

.skills-theme{
  font-weight: bold;
  margin: 0 0 20px 0;
  }

.skills-img{
  margin: 0 0 20px 0;
}

.skills-description{
  width: 225px;
  font-size: 14px;
  height: 70px;
  text-align: left;
}

/* スキル量 */
.skills-border{
  margin-bottom: 10px;
  border-bottom: 15px solid #5292ad3b;
  position: relative;
  width: 200px;
}

.border01:after{
  content: "";
  display: block;
  border-bottom: 15px solid #5292ad;
  width: 120px;
  position: absolute;
}

.border02:after{
  content: "";
  display: block;
  border-bottom: 15px solid #5292ad;
  width: 50px;
  position: absolute;
}

.border03:after{
  content: "";
  display: block;
  border-bottom: 15px solid #5292ad;
  width: 100px;
  position: absolute;
}

.border04:after{
  content: "";
  display: block;
  border-bottom: 15px solid #5292ad;
  width: 12px;
  position: absolute;
}

/* 
Works
 */

.works{
  text-align: center;
  padding: 30px;
  background-color: rgba(155, 155, 155, 0.346);
  margin: 200px 40px;
  /* height: 500px; */
  height: 65vh;
}

.works > h1{
  font-size: 50px;
}

/* 
Contact
 */
.contact{
  margin: 150px 0;
}

.contact h1{
  text-align: center;
  font-size: 50px;
}

.form{
  text-align: center;
  margin-right: 100px;
}

.form-table{
  display:inline-block;
}


.contact-body{
  text-align: left;
  padding-left: 30px;
}

.contact-body input{
  padding: 6px;
  margin: 10px;
  width: 300px;
  }

.textarea{
  padding: 6px;
  margin: 10px 0 0 30px;
  width: 300px;
}

.form-btn{
  text-align: center;
  padding-top: 20px;
}

.submit{
  background-color: #fff4c6;
  padding: 18px 40px;
  margin-left: 100px;
  font-size: 16px;
  border-radius: 50px;
  border: none;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  transition: .3s;
}

.submit:hover{
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0));
}


/* 
Footer
 */

.footer{
  background-color: #5292ad;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}